:root{
  --colorBoton:rgba(147, 17, 223, 1);
}
.letra{
  color:rgba(46, 25, 106, 0.84);
  text-align:center;
  //text-shadow: rgb(188, 81, 198) 5px 5px 10px;
}
.titulo{
  color: rgb(189, 193, 228);
  text-align:center;
  font: normal 5em canvas;
}
html{
  overflow: hidden;
}
.boton{
  font: normal 2em canvas, Geneva, sans-serif;
  background: var(--colorBoton);
  box-shadow: rgb(87, 132, 173) 5px 5px 10px;
  width:350px;
  padding:10px;
  margin: 50px auto;
  border-radius: 10px;
  transition: transform 1s ease-out;
}
.boton:hover{
  animation-name: colores;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: scale(1.2);
}
@keyframes colores {
  from {background-color: var(--colorBoton)}
  to {background-color: rgb(49, 69, 168);}
}
h1{
  margin-bottom: 25%;
}
a{
  text-decoration: none;
}
