:root{
  --colorBoton:rgba(4, 204, 60, 1);
}
html{
  overflow: hidden;
}
h1{
  margin-bottom: 20%;
}
a{
  text-decoration: none;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-template-rows: repeat(1, 4em);
  grid-auto-rows: 4em;
  justify-content: center;
  grid-gap: 60px;
  //grid-row-gap: 4em;
}
/*@media only screen and (max-width:1740px) {
  #ultimo{
    grid-column-end: span 3;
  }
}*/
.letra{
  //display: flex;
  color:rgba(82, 4, 179, 0.84);
  text-align: center;
  font-family: 'Gugi', cursive;
  font-size: 2rem;
  //text-shadow: rgb(188, 81, 198) 5px 5px 10px;
}
#titulo{
  color: rgb(255, 172, 56);
  text-align:center;
  font-family: 'Gugi';
  font-size: 4rem;
}
@media only screen and (max-width:835px){
  #titulo{
    font-size: 3rem;
  }
  .boton{
    transform: scale(0.8);
  }
}
.boton{
  background: var(--colorBoton);
  box-shadow: rgb(87, 132, 173) 5px 5px 10px;
  padding:10px;
  border-radius: 10px;
  transition: transform 1s ease-out;
}
.boton:hover{
  animation-name: colores;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: scale(1.2);
}
@keyframes colores {
  from {background-color: var(--colorBoton)}
  to {background-color: rgb(158, 227, 12);}
}
